<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous">
    <title>
        {% block title %}
        Без титула
        {% endblock title %}
    </title>
</head>
<body>
<div class="container">
    <header class="blog-header py-3">
        {% include 'task/includes/header.html' %}
    </header>
</div>
<br>
<main>
    <br>
    {% block content %}
    Контент не подвезли :(
    {% endblock %}
</main>
<br>
<footer>
    {% include 'task/includes/footer.html' %}
</footer>
</body>
</html>