{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% static 'task/css/styles.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static 'task/images/nelson.png' %}" type="image/x-icon"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous">
    <title>
        {% block title %}
        Без титула
        {% endblock title %}
    </title>
</head>
<body>
<div class="container">
    <header class="blog-header py-3">
        {% include 'task/includes/header.html' %}
    </header>
</div>
<br>
<main>
    <br>
    {% block content %}
    Контент не подвезли :(
    {% endblock %}
</main>
<br>
<footer>
    {% include 'task/includes/footer.html' %}
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-KyZXEAg3QhqLMpG8r+V7Ag6nb/rU5n9n1ag7JpVoN8r8TVhoSTXc5AuF7GJ2ZIbb"
        crossorigin="anonymous"></script>
<script src="{% static 'task/js/scripts.js' %}"></script> <!-- Подключаем ваш файл со скриптами -->
</body>
</html>


