{% extends 'task/base.html' %}
{% load static %}

{% block title %}
Главная страница
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for task in tasks %}
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card h-100 shadow">
                {% if task.image.all.count > 1 %}
                <div id="imageCarousel{{ task.pk }}" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        {% for image in task.image.all %}
                        <div class="carousel-item{% if forloop.first %} active{% endif %}">
                            <a href="javascript:void(0);" onclick="toggleFullscreenImage('{{ image.image.url }}');">
                                <img src="{{ image.image.url }}" class="d-block w-100 card-img" alt="Image">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#imageCarousel{{ task.pk }}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#imageCarousel{{ task.pk }}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
                <script>
                    $('#imageCarousel{{ task.pk }}').carousel(); // Инициализация карусели для текущей задачи
                </script>
                {% else %}
                <a href="javascript:void(0);" onclick="toggleFullscreenImage('{{ task.image.first.image.url }}');">
                    <img src="{{ task.image.first.image.url }}" class="d-block w-100 card-img" alt="Image">
                </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{task.title}}</h5>
                    <p class="card-text">{{task.description|linebreaks|truncatewords:20}}.</p>
                    <a href="{% url 'task:task_detail' task_id=task.pk %}" class="btn btn-primary read-more-btn">Читать целиком</a>
                    <div class="category-subject-links">
                        <a href="{% url 'task:category_detail' category_id=task.category.pk %}">{{ task.category }}</a>
                        <a href="{% url 'task:subject_detail' subject_id=task.subject.pk %}">{{ task.subject }}</a>
                    </div>
                    <div class="author-date">
                        <a href="#" class="author">{{ task.author }}</a>
                        <span>{{task.time_update}}</span>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="fullscreen-image">
    <a href="javascript:void(0);" onclick="toggleFullscreenImage();">
        <img src="" alt="Fullscreen Image">
    </a>
</div>
{% endblock %}










