{% extends 'task/base.html' %}

{% load static %}

{% block title %}
Список тем
{% endblock title %}

{% block content %}

<div class="container">
    <h1 class="text-center mt-4 mb-4">Все темы</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for subject in subjects %}
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ subject.title }}</h5>
                    <p class="card-text text-center">{{ subject.description|truncatewords:20 }}</p>
                    <div class="category-section">
                        <div class="category-subject-links">
                            <p>Категория:
                            <a href="{% url 'task:category_detail' category_id=subject.category.pk %}">
                                {{ subject.category }}</a>
                            </p>
                        </div>
                    </div>
                    <div class="mt-auto">
                        <a href="{% url 'task:subject_detail' subject_id=subject.pk %}"
                           class="btn btn-primary read-more-btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

