/* styles.css */

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img {
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.fullscreen-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.fullscreen-image img {
    max-width: 100%;
    max-height: 80%;
    cursor: pointer;
}

.category-subject-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 8px;
}

.category-subject-links a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.category-subject-links a:hover {
    color: black;
}

.read-more-btn {
    width: 100%;
    background-color: inherit;
    color: #343a40;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    padding: 5px 0;
    margin-top: 10px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.read-more-btn:hover {
    background-color: #6c757d;
    color: white;
}

.author-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 8px;
}

.author-date a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.author-date a:hover {
    color: black;
}

/* Переопределение стилей для кнопки с классом btn-primary */
.read-more-btn.btn-primary {
    background-color: #f8f9fa;
    color: #343a40;
    border: none;
}

.read-more-btn.btn-primary:hover {
    background-color: #6c757d;
    color: white;
    border: none;
}
.code-block {
    overflow-x: auto; /* Добавляет горизонтальную прокрутку при необходимости */
    max-width: 100%; /* Чтобы блок кода был шире при необходимости */
    border: 1px solid #ccc; /* Добавьте рамку для визуального разделения */
    padding: 10px; /* Добавьте внутренний отступ для блока кода */
}
.code-block {
    white-space: pre-wrap;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-text {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
/* Убираем подчеркивание у ссылок */
a.link-dark {
    text-decoration: none;
}

/* Изменяем цвет ссылок при наведении */
a.link-dark:hover {
    color: #343a40; /* Измените на желаемый цвет */
}
/* styles.css */
.card {
    height: 100%;
    transition: transform 0.2s ease-out;
}

.card:hover {
    transform: translate3d(0, -5px, 0);
}
.highlight {
    background-color: rgba(255, 255, 0, 0.4); /* Желтый цвет с прозрачностью */
    padding: 2px; /* Добавьте немного отступа для визуального разделения */
}
.comment-card {
    transition: box-shadow 0.3s;
}

.comment-card:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}


#moreCommentsContainer {
    text-align: center;
}

#loadMoreComments {
    background-color: #f0f0f0;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    display: inline-block;
}

#loadMoreComments:hover {
    background-color: #333;
    color: #fff;
}


#commentForm {
    width: 100%;
    margin-top: 20px;
}

#commentForm textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: vertical;
}

#commentForm button {
    background-color: #f0f0f0;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

#commentForm button:hover {
    background-color: #333;
    color: #fff;
}


/* header */
.neon-link-red, .neon-link-green, .neon-link-blue {
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

.neon-link-red:hover {
    color: #f00;
    animation: neon-glow-red 1s ease-in-out infinite alternate;
}

.neon-link-green:hover {
    color: #0f0;
    animation: neon-glow-green 1s ease-in-out infinite alternate;
}

.neon-link-blue:hover {
    color: #00f;
    animation: neon-glow-blue 1s ease-in-out infinite alternate;
}

@keyframes neon-glow-red {
    from {
        text-shadow: 0 0 5px #f00, 0 0 10px #f00, 0 0 15px #f00;
    }
    to {
        text-shadow: 0 0 10px #f00, 0 0 20px #f00, 0 0 30px #f00;
    }
}

@keyframes neon-glow-green {
    from {
        text-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0;
    }
    to {
        text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
    }
}

@keyframes neon-glow-blue {
    from {
        text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 15px #00f;
    }
    to {
        text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f;
    }
}
.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    align-self: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #000; /* Изменили цвет шрифта */
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
